@model IEnumerable<IDocument>

<p>This page contain information about the Conventions provided by the Rocket Surgerons Guild.</p>

@foreach(IDocument convention in Model)
{
    var description = convention.String(CodeAnalysisKeys.Summary);
    var context = convention.Document("Context");

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="@Context.GetLink(convention)">@convention.String("ConventionName").Replace("Convention", "")</a>
                <span class="pull-right">[ <a href="@Context.GetLink(context)">@context.String("Name").Replace("Convention", "")</a> ]</span>
            </h3>
        </div>
        <div class="panel-body">
            @if(!string.IsNullOrEmpty(description))
            {
                <p>@Html.Raw(description)</p>
            }
        </div>
    </div>
}
